[run]
branch = False
source = blues

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if .debug:
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    blues/version.py
    blues/tests/*
    blues/*dart.py
    blues/ncmc_switching.py
    blues/formats.py
    setup.py
