dist: trusty
sudo: false
language: python

# branches:
#     only:
#         - master

env:
  global:
    - ORGNAME="omnia"
    - USERNAME="nathanmlim"
    - PACKAGENAME="blues"
    - OE_LICENSE="$HOME/oe_license.txt"
    - OPENEYE_CHANNEL="-i https://pypi.anaconda.org/openeye/channel/main/simple"
    - OPENEYE_BETA="https://pypi.anaconda.org/openeye/label/beta/simple"
    - CCACHE=$HOME/ccache/lib/ccache/bin

matrix:
  include:
    # Extra includes for OSX since python language is not available by default on OSX
    - os: osx
      language: generic
      env: PYTHON_VER=3.5
    - os: osx
      language: generic
      env: PYTHON_VER=3.6

    - os: linux
      python: 3.5
      env: PYTHON_VER=3.5
    - os: linux
      python: 3.6
      env: PYTHON_VER=3.6


before_install:
  - export PYTHONUNBUFFERED=true
  - export PATH=$HOME/miniconda/bin:$PATH

  # Additional info about the build
  - uname -a
  - df -h
  - ulimit -a

    # Install the Python environment
  - source devtools/travis-ci/before_install.sh
  - python -V

  # Unpack encrypted OpenEye license file
  #- if [ "$TRAVIS_SECURE_ENV_VARS" == true ]; then openssl aes-256-cbc -K $encrypted_b87d53775ae1_key -iv $encrypted_b87d53775ae1_iv -in oe_license.txt.enc -out oe_license.txt -d; fi
#  - if [ "$TRAVIS_SECURE_ENV_VARS" == false ]; then echo "OpenEye license will not be installed in forks."; fi

  - conda update --yes -q conda
  # Turn on always yes
  - conda config --set always_yes true --set changeps1 no
  - conda config --set anaconda_upload no

  # Add org channel
  - conda config --add channels omnia

  # Add conda-forge channel to top priority
  - conda config --add channels conda-forge

  #DEBUG
  - conda info -a

install:
  # Create test environment for package
  - conda create -n test python=$PYTHON_VER pip pytest pytest-cov
  - conda activate test

    # Install pip only modules
  - pip install codecov

  # Install OpenEye dependencies
  #  Use beta version for partial bond orders
  #- pip install -i ${OPENEYE_BETA} openeye-toolkits && python -c "import openeye; print(openeye.__version__)"
  #- conda install --yes -c openeye/label/beta openeye-toolkits && python -c "import openeye; print(openeye.__version__)"
  #- conda install -q --yes -c openeye/label/Orion -c omnia oeommtools packmol

  # Build and install package
  - conda build --python=$PYTHON_VER devtools/conda-recipe
  - conda install --use-local ${PACKAGENAME}
  - pip install -e .[tests]

  - conda list

script:
  - pytest -v -s --cov=blues blues/tests/ 

after_success:
  - codecov
#   - test $TRAVIS_BRANCH = "master" && chmod +x  ./devtools/conda-recipe/conda_upload.sh
#
# deploy:
#   #Deploy to Anaconda.org
#   - provider: script
#     skip_cleanup: true
#     script: ./devtools/conda-recipe/conda_upload.sh
    #on:
      #branch: master
      #tags: true
