dist: trusty
sudo: false
language: python
python:
    - '3.5'
    - '2.7'

branches:
    only:
        #- master
        - conda_install
install:
    - if [[ $TRAVIS_PYTHON_VERSION == 2.7 ]]; then
        wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
      else
        wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
      fi
    - bash miniconda.sh -b -p $HOME/miniconda
    - export PATH=$HOME/miniconda/bin:$PATH
    - hash -r
    - conda config --set always_yes true --set changeps1 no
    - conda config --add channels ${ORGNAME}
    - conda create -q -n testenv python=$TRAVIS_PYTHON_VERSION
    - source activate testenv
    - conda install conda-build
    - conda info -a
    - conda build devtools/conda-recipe
    - conda install --use-local ${PACKAGENAME}
    - conda list

script:
 - pytest -v blues/tests

env:
  global:
    - ORGNAME="omnia"
    - PACKAGENAME="blues"

#after_success:
#  - echo "after_success"
#  -
