dist: trusty
sudo: false
language: python

branches:
    only:
        - master
install:
    - source devtools/travis-ci/install.sh
    - export PYTHONUNBUFFERED=true
    # Unpack encrypted OpenEye license file
    - if [ "$TRAVIS_SECURE_ENV_VARS" == true ]; then openssl aes-256-cbc -K $encrypted_b87d53775ae1_key -iv $encrypted_b87d53775ae1_iv -in oe_license.txt.enc -out oe_license.txt -d; fi
    - if [ "$TRAVIS_SECURE_ENV_VARS" == false ]; then echo "OpenEye license will not be installed in forks."; fi
script:
    - conda config --set always_yes true --set changeps1 no
    - conda config --add channels ${ORGNAME}
    - conda create -q -n testenv python=$python
    - source activate testenv
    - conda install --yes -c openeye/label/Orion oeommtools
    - conda install -c omnia mdtraj=1.9.1 parmed=2.7.1 openmmtools=0.13.0 yank
    - conda install --yes -c sgill2 chemcoord
    - conda install --yes -c conda-forge future
    # Use beta version for partial bond orders
    - pip install --pre -i https://pypi.anaconda.org/openeye/label/beta/simple openeye-toolkits && python -c "import openeye; print(openeye.__version__)"
    - conda build --python $python devtools/conda-recipe
    - conda install --yes blues --use-local
    - conda list
    - py.test -v blues

env:
  matrix:
    - python=3.5  CONDA_PY=3.5

  global:
    - ORGNAME="omnia"
    - PACKAGENAME="blues"
    - OE_LICENSE="$HOME/oe_license.txt"
    - OPENEYE_CHANNEL="-i https://pypi.anaconda.org/openeye/channel/main/simple"
