language: python
sudo: false

branches:
  only:
    #- master
    - conda_install

install:
  - source devtools/travis-ci/install.sh
  # Add omnia channel
  - conda config --add channels ${ORGNAME}
  - conda create -n testenv python=$python
  - source activate testenv
  - conda build devtools/conda-recipe
  - conda install blues --use-local
  - conda list

script:
 - pytest -v blues/tests


env:
  matrix:
    - python=2.7  CONDA_PY=27
    #- python=3.4  CONDA_PY=34
    - python=3.5  CONDA_PY=35

  global:
    - ORGNAME="omnia"
    - PACKAGENAME="blues"

#after_success:
#  - echo "after_success"
#  - if [ "$TRAVIS_SECURE_ENV_VARS" == true ]; then ./devtools/travis-ci/after_success.sh; fi
