dist: trusty
sudo: false
language: python

branches:
    only:
        - master
install:
    - source devtools/travis-ci/install.sh
    - export PYTHONUNBUFFERED=true
    # Unpack encrypted OpenEye license file
    - if [ "$TRAVIS_SECURE_ENV_VARS" == true ]; then openssl aes-256-cbc -K $encrypted_b87d53775ae1_key -iv $encrypted_b87d53775ae1_iv -in oe_license.txt.enc -out oe_license.txt -d; fi
    - if [ "$TRAVIS_SECURE_ENV_VARS" == false ]; then echo "OpenEye license will not be installed in forks."; fi
script:
    # Create a test environment
    - conda create -q -n testenv python=$python
    # Activate the test environment
    - source activate testenv
    # Add org channel
    - conda config --add channels ${ORGNAME}
    # Turn on always yes
    - conda config --set always_yes true --set changeps1 no
    # Add conda-forge channel to top priority
    - conda config --add channels conda-forge
    # Build the recipe
    - conda build --python $python devtools/conda-recipe
    # Install OpenEye dependencies
    - conda install --yes -c openeye/label/Orion oeommtools
    # Use beta version for partial bond orders
    - pip install --pre -i https://pypi.anaconda.org/openeye/label/beta/simple openeye-toolkits && python -c "import openeye; print(openeye.__version__)"
    - conda install --yes --use-local ${PACKAGENAME}
    - conda list
    - py.test -v blues

env:
  matrix:
    - python=3.5  CONDA_PY=3.5

  global:
    - ORGNAME="omnia"
    - PACKAGENAME="blues"
    - OE_LICENSE="$HOME/oe_license.txt"
    - OPENEYE_CHANNEL="-i https://pypi.anaconda.org/openeye/channel/main/simple"
