dist: trusty
sudo: false
language: python

branches:
    only:
        - master

before_install:
    - bash -x devtools/travis-ci/install.sh
    - export PYTHONUNBUFFERED=true
    - export PATH=$HOME/miniconda/bin:$PATH
    # Unpack encrypted OpenEye license file
    #- if [ "$TRAVIS_SECURE_ENV_VARS" == true ]; then openssl aes-256-cbc -K $encrypted_b87d53775ae1_key -iv $encrypted_b87d53775ae1_iv -in oe_license.txt.enc -out oe_license.txt -d; fi
    #- if [ "$TRAVIS_SECURE_ENV_VARS" == false ]; then echo "OpenEye license will not be installed in forks."; fi
    # Turn on always yes
    - conda config --set always_yes true --set changeps1 no
    - conda update --yes -q conda
    - conda install conda-build
    - conda install anaconda-client
    - conda info -a

install:
    # Create a test environment
    - conda create -q -n testenv python=$python
    # Activate the test environment
    - source activate testenv
    # Add org channel
    - conda config --add channels ${ORGNAME}
    # Add conda-forge channel to top priority
    - conda config --add channels conda-forge
    # Install OpenEye dependencies
    #  Use beta version for partial bond orders
    #- pip install -i ${OPENEYE_BETA} openeye-toolkits && python -c "import openeye; print(openeye.__version__)"
    #- conda install --yes -c openeye/label/beta openeye-toolkits
    #- conda install --yes -c openeye/label/Orion oeommtools
    # Build the recipe
    #- conda build --python $python devtools/conda-recipe
    - conda install --yes --use-local ${PACKAGENAME}
    - conda list

after_success:
  - test $TRAVIS_BRANCH = "master" && conda install conda-build && conda install anaconda-client && bash conda/conda_upload.sh

script:
    - py.test -v blues

env:
  matrix:
    - python=3.5  CONDA_PY=3.5

  global:
    - ORGNAME="omnia"
    - PACKAGENAME="blues"
    - OE_LICENSE="$HOME/oe_license.txt"
    - OPENEYE_CHANNEL="-i https://pypi.anaconda.org/openeye/channel/main/simple"
    - OPENEYE_BETA="https://pypi.anaconda.org/openeye/label/beta/simple"
